* {
    margin: 0;
    padding: 0%;
}

:root {
    --bg-color: blue;
    --text-color: black;
}

.h-center {
    display: flex;
    justify-content: center;
}

.v-center {
    display: flex;
    align-items: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    position: fixed;
    height: 15vh;
    width: 100vw;
    background-color: var(--bg-color);
}

.firstSection {
    height: 85vh;
    display: flex;
    flex-direction: row;
    background-image: url(/Images/surface_wave.jpg);
    background-blend-mode: darken;
    background-size: cover;
    margin: auto;
    justify-content: center;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.firstHalf {
    max-width: 50%;
    display: flex;
    margin-top: 20vh;
    flex-direction: column;
}

.secondHalf {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondHalf img {
    height: 60%;
}

.text-big {
    font-size: 41px;
    text-align: center;
}

.text-sm {
    font-size: 18px;
}

.secondSection {
    background-color: blue;
    height: 60vh;
}

.thirdSection {
    background-color: darkgrey;
    height: 50vh;
}

.fouthSection {
    background-color: hotpink;
    height: 60vh;
}

.progress-container {
    width: 100%;
    height: 6px;
    background: white;
    position: fixed;
    bottom: 0%;
    left: 0%;
}

/* The progress bar (scroll indicator) */
.progress-bar {
    height: 6px;
    background: var(--bg-color);
    width: 0%;
}